
@{
    ViewBag.Title = "PatallaInicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    .marca_agua {
        padding: 80px;
        width: auto;
        height: 280px;
        opacity: 0.3;
        text-align: center;
        height: 290px;
    }

    img {
        display: block;
        margin: auto
    }
</style>
<div class="marca_agua">

    
    <img src="~/Content/img/promotor.png" />
</div>
<div class="marca_agua">
    <h1>PROMOTORES</h1>

</div>