
@{
    ViewBag.Title = "PatallaInicialEvaluador";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>

    .marca_agua {
        padding: 80px;
        width: auto;
        height: 280px;
        opacity: 0.3;
        text-align: center;
        height: 290px;
    }

    img {
        display: block;
        margin: auto
    }
</style>
<div class="marca_agua">


    
    <img src="~/Content/img/246562.png" />
</div>
<div class="marca_agua">
    <h1>EVALUADOR</h1>

</div>